
  <div class="container">
    <div class="row">
  <div class="col-sm-12 p-flex p-flex-justify-content">
        <div class="d-flex flex-column">
          <div class="profile">
            <img src="assets/img/profile_img.gif"/>
            <h1 class="text-light">
              Shalma&nbsp;Gouse
            </h1>
          </div>

        </div>
        <!-- <ul>
          <li class="p-hamburger ">
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>
            <img src="assets/img/search.png" alt="The icon for Search" width="20" style="margin-top: -10px"/>
          </li>
        </ul> -->
       <!--  <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Skills</a>
          </li>
          <li>
            <a href="#">Portofolio</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>

