<section class="about">
  <div class="container">
  <div class="aboutcontent">
    <h2>About</h2>
    <ul class="list">
      <li class="inline-block">
        <img src ="assets/img/send-message.png"/>
        Hello, I Love designing and developing websites.
      </li>
      <li class="inline-block">
        <img src ="assets/img/send-message.png"/>
        I have been working in the field for 2+ years & would Love to help you take your product to the next level.
      </li>
      <li class="inline-block">
        <img src ="assets/img/send-message.png"/>
        My passion is to design digital user experiences through the bold interface and meaningful interactions.    
      </li>
      <li class="inline-block">
        <img src ="assets/img/send-message.png"/>
        Designed, Developed and Implemented UI proect using Angular Framework.   
      </li>
    </ul><br>
    <h2>Educational Qualification</h2>
    <ul class="list">
      <li class="inline-block">
         <img src ="assets/img/send-message.png"/>
        <p><b>Bachelor's Degree in Computer Science(B.Sc)</b>, May 2016, Mumbai University, VES College, Chembur, Mumbai, India.</p>
      </li>
      <li class="inline-block">
        <img src ="assets/img/send-message.png"/>
        <P><b>Master's Degree in Information Technology(M.Sc IT)</b>, June 2021, Mumbai University, SIWS College, Wadala, Mumbai, India</P>
      </li>
      </ul>
  </div>
</div>
</section>
