
<div id="mySidenav" class="sidenav">
  <div class="container-fluid"></div>
  <div class="inline-block">
    <img src ="assets/img/home.png"/>
    <a routerLink="/home" routerLinkActive="active">Home</a>
</div>
<div class="inline-block">
  <img src ="assets/img/user.png"/>
  <a routerLink="/about" routerLinkActive="active">About</a>
</div>
<div class="inline-block">
  <img src ="assets/img/file.png"/>
  <a routerLink="/skills" routerLinkActive="active">Skills</a>
</div>
<div class="inline-block">
  <img src ="assets/img/certificate.png"/>
  <a routerLink="/portfolio" routerLinkActive="active">Portofolio</a>
</div>
<div class="inline-block">
  <img src ="assets/img/phone.png"/>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</div>

<!--   <a routerLink="/Home/">Home</a>
  <a routerLink="/About/">About</a>
  <a routerLink="/Skills/">Skills</a>
  <a routerLink="/Portofolio/">Portofolio</a>
  <a routerLink="/Contact/">Contact</a> -->
</div>
