@import '../about/about.component.css';

.skills{
    width: 100%
}
.skillscontent{
    position: absolute;
    top: 25%;
    left: 57%;
    transform: translate(-50%, -40%);
}
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 1px;
    width: 900px;
    margin-top: 20px;
}
.skills .progress {
    height: 50px;
    display: block;
    background: none;
    width: 100%;
    margin-bottom: 18px;
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #050d18;
    line-height: 0;
    font-size: .75rem;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
  height: 12px;  
  background: #dce8f8;
  width: 500px;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 12px;
    transition: .9s;
    background-color: #149ddd;
  }
  .column {
    float: left;
    width: 20%;
    padding: 5px;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    from {bottom: -50px;}
    to {bottom : 30px;}
  }
  .image-align1{
    object-fit: initial;
    height: 93px;
    object-position: left;
    width: 182px;
    padding-top: 42px;
  }
 .img-grid{
    position: absolute;
    top: 70%;
    left: 57%;
    height: 50vh;
    transform: translate(-50%, -40%);
  }
  .image-align2{
    padding-left: 15px;
    padding-bottom: 13px;
    width: 89%;
    height: 123px;
  }
  
